<h2>Medications</h2>

<form class="medication-form">
  <label>Add a Medication:
    <div class="medication-input-container">
      <input type="text" ng-model="$ctrl.medication">
      <input type="submit" id="round-button" ng-click="$ctrl.addMedication($ctrl.medication)" value="">
    </div>
  </label>

</form>

<div class="medication-list">
  <ul>
    <li ng-repeat="medication in $ctrl.patient.medications">
      <div>{{medication}}</div>
      <button ng-click="$ctrl.removeMedication(medication)" class="delete-button"></button>
    </li>
  </ul>
</div>