<div class="patient-view">
  <div class="left">
    <div class="header">
      <h1>MyMetrics</h1>

      <div class="name-stage">
        <div class="name-date">
          <div class="name">
            {{$ctrl.patient.name}}
          </div>

          <div class="date">
            <input type="date" ng-model="$ctrl.date" ng-change="$ctrl.changeDate()">
          </div>
        </div>

        <div class="stage">
          <label>Stage:
            <select name="stage" ng-model="$ctrl.patient.stage">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </label>
        </div>

        <div class="next-appointment-label">
          <span>Next Appointment: {{$ctrl.patient.nextAppt}}</span>
        </div>
      </div>
    </div>


    <div class="metrics">
      <h2>Metrics</h2>

      <form>
        <div class="labels">
          <label>Weight:</label>
          <label>Sodium Intake:</label>
          <label>Fluid Intake:</label>
        </div>

        <div class="inputs">
          <label><input type="number" ng-model="$ctrl.patient.weight">lbs</label>
          <label><input type="number" ng-model="$ctrl.patient.sodium">mg</label>
          <label><input type="number" ng-model="$ctrl.patient.fluid">ml</label>
        </div>
      </form>
    </div>

    <div class="symptoms-medications">
      <div class="symptoms">
        <h2>Symptoms</h2>

        <div ng-repeat="symptom in $ctrl.symptoms">
          <label>
            <input type="checkbox" value="{{symptom}}" id="checkbox-input" ng-click="$ctrl.updateSymptoms($event)"><span>{{symptom}}</span>
          </label>
        </div>

        <button ng-click="$ctrl.updatePatient()" id="submit-button"><span>Submit</span></button>
      </div>

      <div class="medications">
        <h2>Medications</h2>

        <form class="medication-form">
          <label>Add a Medication:
            <div class="medication-input-container">
              <input type="text" ng-model="$ctrl.medication">
              <input type="submit" id="round-button" ng-click="$ctrl.addMedication($ctrl.medication)" value="">
            </div>
          </label>

        </form>

        <div class="medication-list">
          <ul>
            <li ng-repeat="medication in $ctrl.patient.medications">{{medication}}
              <button ng-click="$ctrl.removeMedication(medication)" class="delete-button"></button>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="right">
    <div class="warnings-appointment-logout-graph">
      <div class="warnings-appointment-logout">
        <div class="warnings" ng-if="$ctrl.warnings.length > 0">
          SOMETHING ABOUT WARNINGS
        </div>

        <div class="appointment">
          <label>Next Appointment:
            <input type="date" ng-model="$ctrl.nextAppt" ng-change="$ctrl.changeNextAppt()">
          </label>
        </div>

        <div class="logout">
          <button
            ng-click="$ctrl.logout()"
            id="logout-button"
          ><span>Logout</span></button>
        </div>
      </div>
    </div>

    <div id="graph">
      PUT HIGHCHARTS STUFF IN HERE
    </div>
  </div>
</div>
