<div class="patient-view">
  <div class="left">
    <div class="HEADER">
      <h1>MyMetrics</h1>
    </div>

    <div class="name-stage">
      <div class="name-date">
        <div class="name">
          {{$ctrl.patient.name}}
        </div>

        <div class="date">
          <input type="date" ng-model="$ctrl.date">
        </div>
      </div>

      <div class="stage">
        <label>Stage:
          <select name="stage" ng-model="$ctrl.patient.stage">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </label>
      </div>

    </div>

    <div class="metrics">
      <h2>Metrics</h2>

      <form>
        <label>Weight:
          <input type="number" ng-model="$ctrl.patient.weight">
        </label>

        <label>Sodium Intake:
          <input type="number" ng-model="$ctrl.patient.sodium">
        </label>

        <label>Fluid Intake:
          <input type="number" ng-model="$ctrl.patient.fluid">
        </label>
      </form>
    </div>

    <div class="symptoms-medications">
      <div class="symptoms">
        <h2>Symptoms</h2>

        <div ng-repeat="symptom in $ctrl.symptoms">
          <label>
            <input type="checkbox" value="{{symptom}}" ng-click="$ctrl.updateSymptoms($event)">{{symptom}}
          </label>
        </div>
      </div>

      <div class="medications">
        <h2>Medications</h2>

        <ul ng-repeat="medication in $ctrl.patient.medications">
          <li>{{medication}}<button ng-click="$ctrl.removeMedication(medication)">x</button></li>
        </ul>

        <label>Add a Medication:
          <input type="text" ng-model="$ctrl.medication">
          <button ng-click="$ctrl.addMedication($ctrl.medication)">Add</button>
        </label>
      </div>
    </div>

    <button ng-click="$ctrl.updatePatient()">SUBMIT</button>
  </div>

  <div class="right">
    <div class="warnings-appointment-logout-graph">
      <div class="warnings-appointment-logout">
        <div class="warnings" ng-if="$ctrl.warnings">
          SOMETHING ABOUT WARNINGS
        </div>

        <div class="appointment">
          <label>Next Appointment:
            <input type="date" ng-model="$ctrl.nextAppt">
          </label>
        </div>

        <div class="logout">
          <button ng-click="$ctrl.logout()">Logout</button>
        </div>
      </div>
    </div>

    <div id="graph">
      PUT HIGHCHARTS STUFF IN HERE
    </div>
  </div>
</div>
