.doctor-view {
    display: flex;
    flex-direction: row;
}

.doctor-left,
.doctor-right {
    /* border: 1px solid black; */
    display: flex;
    height: 100vh;
}

.doctor-right {
    width: 75%;
}


.doctor-left {
    flex-direction: column;
    width: 35%;
}

.doctor-header {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18vh;
    padding: 15px 0px 5px 15px;
}

.doctor-header h1 {
    color: #EE6C4D;
    font-size: 50px;
}

.doctor-header h2 {
    color: #98C1D9;
    font-size: 30px;
}

.patient-search {
    /* border: 1px solid black; */
    display: flex;
    padding: 15px 0px 15px 15px;
    font-size: 20px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);    
    background-color:  #98C1D9;
    color: white;
}

.patient-search .patient-search-box {
    margin-left: 5px;
    padding: 7px;
    width: 20vw;
}

.doctors-patients-container {
    /* border: 1px solid black; */
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
}

.doctors-patients {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
}

.patient-item {
    display: flex;
    font-size: 20px;
    border-radius: 2px;
    padding: 5px;
    height: 70px;
    margin: 12px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.40);

}

/* GRAPH CLASS */

#patient-graph {
    /* border: 1px solid black; */
    width: 100%;
}

/* RIGHT SIDE */

.doctor-right {
    flex-direction: column;
}

.doctor-logout {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    overflow: visible;
}

.doctor-logout h1 {
    font-size: 30px;
    margin-left: 3vw;
}

.doctor-logout-button {
    width: 100px;
    height: 6vh;
    cursor: pointer;
    border-radius: 2px;
    padding: 7px;
    font-size: 20px;
    /* background-color: #EE6C4D; */
    /* color: #E0FBFC; */
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.40);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.doctor-logout .doctor-logout-button:hover {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.patient-info {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.patient-info h1 {
    color: white;
    background-color: #98C1D9;
    font-size: 30px;
    padding: 5px;
}

.patient-metrics-container { 
    /* border: 1px solid black; */
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
}

.patient-metrics {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    /* height: 300px; */
    flex-grow: 1;
}

.patient-metrics label {
    margin: auto 0px auto 10px;
}

.patient-symptoms {
    /* border: 1px solid black; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.patient-medications {
    /* border: 1px solid black; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.medication-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 300px;
}

.medication-list li {
    margin: auto 0px auto 10px;

}