.doctor-view {
    display: flex;
    flex-direction: row;
}

.doctor-left,
.doctor-right {
    /* border: 1px solid black; */
    display: flex;
    height: 100vh;
}

.doctor-right {
    width: 75vw;
    margin-left: .5vw;
}


.doctor-left {
    flex-direction: column;
    width: 35vw;
}

.doctor-view .doctor-header {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18vh;
    padding: 15px 0px 15px 15px;
}

.doctor-view .doctor-header h1 {
    color: #EE6C4D;
    font-size: 40px;
}

.doctor-view .doctor-header h2 {
    color: #3D5A80;
    font-size: 28px;
}

.doctor-view .patient-search {
    /* border: 1px solid black; */
    display: flex;
    padding: 20px 0px 20px 0px;
    font-size: 18px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.15);    
    background-color:  #98C1D9;
    color: white;
}

.doctor-view .patient-search .patient-search-box {
    margin: 0 auto;
    font-family: FontAwesome, 'Josefin Sans';
    text-indent: 10px;
    padding: 10px 0px 10px 0px;
    width: 27vw;
}

.doctor-view .doctors-patients-container {
    /* border: 1px solid black; */
    flex-grow: 1;
    position: relative;
    overflow-y: scroll;
}

.doctor-view .doctors-patients {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
}

.doctor-view .patient-item {
    display: flex;
    width: 94%;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    font-size: 18px;
    border-radius: 2px;
    padding: 10px;
    height: 75px;
    margin: 15px 10px 5px 10px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.40);
}

.doctor-view .danger {
    color: red;
}

.doctor-view .green {
    color: green;
}

/* GRAPH CLASS */

#patient-graph {
    border: 1px solid gray;
    border-bottom: none;
    height: 48vh;
    width: 97.8%;
}

/* RIGHT SIDE */

.doctor-right {
    flex-direction: column;
}

.doctor-view .doctor-logout {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    height: 13vh;
    overflow: visible;
}

.doctor-view .doctor-logout h1 {
    font-size: 35px;
    color: #3D5A80;
    margin-left: 1vw;
}

.doctor-view .doctor-logout-button {
    width: 7vw;
    height: 5.5vh;
    cursor: pointer;
    border-radius: 2px;
    padding: 6px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.30);
    background-color: #EE6C4D;
    color: white;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.doctor-view .doctor-logout .doctor-logout-button:hover {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

/* BOTTOM-RIGHT-SIDE: PATIENT INFO */

.doctor-view .patient-info {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.doctor-view .patient-info h1 {
    color: white;
    background-color: #98C1D9;
    font-size: 28px;
    padding: .4em;
    width: 93%;
}

.doctor-view .patient-metrics {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    font-size: 18px;
    flex-grow: 1;
    width: 33%;
    border-radius: 2px;

}

.doctor-view .patient-metrics label {
    line-height: 2.5em;
}

.doctor-view .metrics-list {
    display: flex;
    width: 93%;
    flex-direction: column;
    font-size: 18px;
    flex-grow: 1;
    padding-left: 2vw;
}

.doctor-view .metrics-list li {
    width: 90%;
    padding-right: 2vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 12px 0px 10px 0px;
}


.doctor-view .patient-symptoms {
    /* border: 1px solid black; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 33%;
    /* box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.30); */

}

.doctor-view .patient-symptoms li {
    font-size: 18px;
}

.doctor-view .patient-medications {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 33%;
}


.doctor-view .medication-list {
    display: flex;
    width: 93%;
    flex-direction: column;
    font-size: 18px;
    flex-grow: 1;
}

.doctor-view .medication-list li {
    width: 90%;
    padding-right: 1vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 12px 0px 10px 0px;
}

#patient-med-scroll {
    overflow-y: auto;
    direction: rtl;
}
