.doctor-view {
    display: flex;
    flex-direction: row;
}

.doctor-left,
.doctor-right {
    border: 1px solid black;
    display: flex;
    width: 50%;
    height: 95vh;
}

.doctor-left {
    flex-direction: column;
}

.doctor-header {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    padding-top: 15px;
    padding-left: 15px;
}

.doctor-header h1 {
    font-size: 50px;
}

.doctor-header h3 {
    font-size: 30px;
}

.patient-search {
    border: 1px solid black;
    display: flex;
    padding: 15px 0px 15px 15px;
    font-size: 20px;
}

.patient-search .patient-search-box {
    margin-left: 5px;
    padding: 7px;
}

