/* SESSION (login) FORM  */
.main-session {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

.main-session h1 {
    font-size: 70px;
    margin-bottom: 20px;
    color: #EE6C4D;
    
}

.main-session h2 {
    color: #3D5A80;

}

.error-container {
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    /* margin-bottom: 15px; */
}

.error-container h2 {
    /* color: #98C1D9; */
}

.errors {
    /* border: 1px solid black; */
    display: flex;
    font-size: 20px;
    color: red;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.session-form {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 200px;
    margin-top: 30px;
}

.session-form label {
    color: #3D5A80;
}

.email-container,
.password-container {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;


}

.email-container input,
.password-container input {
    height: 35px;
    width: 250px;
    font-size: 16px;
}

.login-buttons {
    /* border: 1px solid black; */
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.session-button {
    width: 100px;
    cursor: pointer;
    border-radius: 2px;
    padding: 7px;
    font-size: 15px;
    background-color: #EE6C4D;
    color: white;
    /* margin-top: auto; */
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.40);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.session-button:hover {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#github-plug {
    margin-top: 10px;
    font-size: 50px;
    color: #EE6C4D;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

#github-plug:hover {
  animation: color-change 1.5s infinite;
}

.loader p {
    font-size: 30px;
    margin-top: 20px;
}

.loader svg path {
   stroke: #EE6C4D;
}

@keyframes color-change {
  0% {
    color: #3D5A80;
  }
  25% {
    color: #98C1D9;
  }
  50% {
    color: #E0FBFC;
  }
  75% {
    color: #EE6C4D
  }
  100% {
    color: #293241
  }
}