/* SESSION (login) FORM  */
.main-session {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

.main-session h1 {
    font-size: 70px;
    margin-bottom: 20px;
    /* color: #EE6C4D */
}

.error-container {
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    /* margin-bottom: 15px; */
}

.error-container h2 {
    /* color: #98C1D9; */
}

.errors {
    /* border: 1px solid black; */
    display: flex;
    font-size: 20px;
    color: red;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.session-form {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 170px;
    margin-top: 30px;
}


.email-container,
.password-container {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;


}

.email-container input,
.password-container input {
    height: 35px;
    width: 160px;
    font-size: 16px;
}

#email-input {
    /* margin-left: 35px; */
}

#password-input {
    /* margin-left: 5px; */
}

.session-button {
    width: 100px;
    cursor: pointer;
    border-radius: 2px;
    padding: 7px;
    font-size: 20px;
    /* background-color: #EE6C4D; */
    /* color: #E0FBFC; */
    /* margin-top: auto; */
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.40);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.session-button:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.session-link {
    /* margin-top: auto; */
}