.patient-view {
  display: flex;
  flex-direction: row;
  font-size: 2.2vh;
  height: 100vh;
  padding: 20px;
}

.patient-view h1 {
  font-size: 4vh;
  color: #ee6c4d;
}

.patient-view h2 {
  font-size: 2.8vh;
}

.patient-view .left, .patient-view .right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 10px;
}

.patient-view .left {
  justify-content: space-between;
}

.patient-view .header {
  flex: 1 1 0%;
}

.patient-view .name-stage {
  display: flex;
  flex-direction: column;
}

.patient-view .name-date {
  margin: 10px 0;
}

.patient-view .name {
  color: #293241;
  margin: 10px 0 10px 0;
}

.patient-view .stage {
  margin-top: 10px;
}

.patient-view .stage select {
  background-color: white;
  text-align-last: center;
  width: 50px;
}

.patient-view .next-appointment-label {
  margin-top: 10px;
}

.patient-view .metrics {
  display: flex;
  flex-direction: column;
  flex: 2 1 0%;
  justify-content: center;
}

.patient-view .metrics form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.patient-view .symptoms-medications {
  display: flex;
  flex-direction: row-reverse;
  flex: 3 1 0%;
  justify-content: space-between;
}

.patient-view .symptoms {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 50%;
  margin: 10px 0px 10px 10px;
}

.patient-view .symptoms h2 {
  margin-bottom: 10px;
}

.patient-view .symptoms label {
  display: flex;
  align-items: baseline;
  margin: 3px;
}

.patient-view .symptoms button {
  margin-top: auto;
  text-align: center;
  margin-right: 10px;
}

.patient-view .medications {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  margin: 10px 10px 10px 0px;
}

.patient-view .medication-list {
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  flex: 1 1 auto;
  padding: 5px;
  background-color: white;
}

.patient-view .medications ul {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: space-between;
}

.patient-view .medications div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.patient-view .medication-list li {
  line-height: 100%;
  padding-left: 0;
  margin: 10px;
}

div.medication-list ul li .medication {
  height: 100%;
  width: 90%;
  word-break: break-word;
  margin-left: 5px;
}

.patient-view .medication-form {
  margin-top: 5px;
}

.patient-view div.medication-input-container{
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.patient-view .medication-form input {
  width: 100%;
  margin-top: 3px;
  margin-right: 5px;
  border-radius: 10px;
}

.patient-view .medication-form label {
  width: 100%;
  margin: 10px 0;
}

#round-button {
  width: 35px;
  height: 32px;
  background-image: url('../assets/plus-button.svg');
  background-size: cover;
  border-radius: 200px;
  border: none;
  padding-bottom: 6px;
  margin-right: 0;
}
#round-button:hover {
  box-shadow: 0 0 10px #ee6c4d;
}
#round-button:active {
  background-color: black;
  box-shadow: 0 0 10px #ee6c4d;
}

.patient-view .warnings-appointment-logout-graph {
  display: flex;
  flex-direction: column;
}

.patient-view .warnings-appointment-logout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.patient-view .name {
  font-size: 2.8vh;
}

.patient-view .metrics .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.patient-view .metrics .inputs {
  display: flex;
  flex-direction: column;
}

.patient-view .metrics .labels label, .patient-view .metrics .inputs input {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.patient-view button, .patient-view input[type='submit'] {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

#graph {
  height: 100%;
}

#submit-button, #logout-button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  background: #ee6c4d;
  border: none;
  padding: 8px 10px 5px 10px;
}

#submit-button:hover, #logout-button:hover {
  box-shadow: 0 0 10px #ee6c4d;
}
#submit-button:active, #logout-button:active {
  background-color: black;
  box-shadow: 0 0 10px #ee6c4d;
}

#checkbox-input {
  margin: 5px;
}

div.medication-list ul li button.delete-button {
  border: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/delete-button.svg');
  background-size: cover;
}

.patient-view h2 {
  color: white;
  padding: 5px;
  padding-top: 9px;
  background-color: #98c1d9;
}

.patient-view input[type='date'] {
  border-radius: 10px;
}

.patient-view input[type='number'], .patient-view input[type='number'] {
  text-indent: 5px;
}

.warnings {
  color: red;
  margin-top: 10px;
}

.warnings span {
  font-size: 2.3vh;
  font-weight: bold;
}
.warnings li {
  text-indent: 37px;
  font-size: 2vh;
  margin: 3px;
}

#warning-icon {
  position: relative;
  top: 6px;
  display: inline-block;
  background-image: urL('../assets/exclamation.svg');
  background-size: cover;
  width: 30px;
  height: 30px;
}