.signup-header {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 55px;
}

.signup-header h2 {
    font-size: 30px;
}

.main-signup-container  {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 270px;
    width: 750px;
}

.main-signup-form {
    /* border: 1px solid blue; */
    display: flex;
    height: 185px;
}

.main-signup-form label {
    margin-bottom: auto;
    margin-top: auto;
}

.main-signup-form input {
    padding: 7px;
    font-size: 16px;
}


.left-signup-form {
    /* border: 1px solid green; */
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.left-signup-form input {
    margin-right: 20px;
}

.right-signup-form {
    /* border: 1px solid red; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 6px; 
}

#signup-dob {
    padding: 4px;
    margin-left: 40px;
    width: 163px;
    font-size: 15px;
    text-align: center;
}

.right-signup-form h3 {
    font-size: 25px;
    margin: 10px 0px 10px 0px;
}

#doctor-email {
    margin-right: 25px;
}


.signup-clickables {
    /* border: 1px solid black; */
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 9px;
}


/* Doctor Signup Specific Styling */

.doctor-signup-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 270px;
    width: 600px;
}

.doctor-left-signup {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 0px 10px 0px;
}

.doctor-left-signup input {
    margin-right: 20px;
}

.doctor-right-signup {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 30px 5px 0;
}

#doctor-dob {
    padding: 4px;
    width: 163px;
    font-size: 15px;
    text-align: center;
}