.main-signup-container  {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 200px;
}

.main-signup-form {
    border: 1px solid black;
    display: flex;
    height: 160px;
}

.main-signup-form label {
    margin-top: auto;
}

.main-signup-form input {
    padding: 7px;
    font-size: 16px;
}


.left-signup-form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.right-signup-form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#signup-dob {
    padding: 4px;
    margin-left: 40px;
    width: 163px;
    font-size: 15px;
    text-align: center;
}

.right-signup-form h3 {
    font-size: 25px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.signup-clickables {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}