.signup-header {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
}

.signup-header h2 {
    font-size: 30px;
}

.main-signup-container  {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 43vh;
    width: 60vw;
}

.main-signup-form {
    /* border: 1px solid blue; */
    display: flex;
    width: 60vw;
    height: 30vh;
    color: #3D5A80;
}

.main-signup-form label {
    margin-bottom: auto;
    margin-top: auto;
}

.main-signup-form input {
    padding: 7px 0 7px 0;
    font-size: 16px;
}


.left-signup-form {
    /* border: 1px solid green; */
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 30vw;
}


.right-signup-form {
    /* border: 1px solid red; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 6px; 
    width: 40vw;
}

.right-signup-form #signup-dob {
    margin-left: 3vw;
    height: 5.5vh;
    width: 11.5vw;
    font-size: 15px;
    text-align: center;
}

.right-signup-form h3 {
    font-size: 25px;
    margin: 10px 0px 10px 0px;
}

#doctor-email {
    margin-right: 25px;
}


.signup-clickables {
    /* border: 1px solid black; */
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 9px;
}


/* Doctor Signup Specific Styling */

.doctor-signup-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 44vh;
    width: 50vw;
}

.doctor-signup-container .doctor-left-signup {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 25vw;
}

.doctor-signup-container .doctor-left-signup input {
    margin-right: 20px;
}

.doctor-signup-container .doctor-right-signup {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;   
    padding: 6px; 
    width: 23vw;
}

.doctor-signup-container #doctor-dob {
    padding: 4px;
    height: 5.5vh;
    width: 11.5vw;
    font-size: 13px;
    text-align: center;
}