<div class="doctor-view">

    <div class="doctor-left">
        <div class="doctor-header">
            <h1>MyMetrics</h1>
            <h2>{{$ctrl.doctor.name}} MD</h2>
        </div>

        <div class="patient-search">
            <input class="patient-search-box" placeholder='&#xF002; Patient Search' ng-model="$ctrl.query"/>
        </div> 

        <div class="doctors-patients-container">
            <ul class="doctors-patients">
                <li ng-repeat="patient in $ctrl.patients | filter: $ctrl.query" ng-click="$ctrl.getPatient($event)" data-patient={{patient}} class="patient-item">
                    <span ng-click="$ctrl.getPatient($event)" data-patient={{patient}} >{{patient.name}}</span>
                    <span ng-click="$ctrl.getPatient($event)" data-patient={{patient}}  class="danger" ng-if="patient.inDanger">Status: Bad</span>
                    <span ng-click="$ctrl.getPatient($event)" data-patient={{patient}}  class="green" ng-if="!patient.inDanger">Status: Good</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="doctor-right">

        <div class="doctor-logout">
            <h1>{{$ctrl.currentPatient.name}}</h1>
            <button class="doctor-logout-button" ng-click="$ctrl.logout()">Logout</button>
        </div>

        <div id="patient-graph" class="patient-graph"></div>


        <div class="patient-info">
                
                <div class="patient-metrics">
                    <h1>Metrics:</h1>
                    <label>Stage: <span>{{$ctrl.currentPatient.stage}}</span></label>
                    <label>Weight: <span>{{$ctrl.currentWeight}} lb</span></label>
                    <label>Sodium Level: <span>{{$ctrl.currentSodium}} mg</span></label>
                    <label>Fluid Level: <span>{{$ctrl.currentFluid}} mL</span></label>
                </div>

                <div class= "patient-symptoms">
                    <h1>Symptoms:</h1> 
                    <ul ng-if="$ctrl.currentSymptoms" class="medication-list">
                        <li ng-repeat="symptom in $ctrl.currentSymptoms">
                            <span>{{symptom}}</span>
                        </li>
                    </ul>
                </div>

                <div class="patient-medications">
                    <h1>Medications:</h1>
                    <ul ng-if="$ctrl.currentPatient.medications" id="patient-med-scroll" class="medication-list">
                        <li ng-repeat="medication in $ctrl.currentPatient.medications">
                            <span>{{medication}}</span>
                        </li>
                    </ul>
                </div>

            </div>


            
        </div>

    </div>
</div>